@import '../../colors.scss';

.board {
  max-width: 1024px;
  margin: 20px auto;
  background-color: $boardColor;
  border: 1px solid $boardColorBorder;
  border-radius: 0.25rem;
  padding: 20px 0;

  .titleToDo {
    text-align: center;
    font-size: 24px;
  }

  .iconAddToDo {
    color: $btnAddTaskColor;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .wrapperColumns {
    display: flex;
    justify-content: center;
  }

  .itemsColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nameColumn {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    background-color: $columnNameBg;
    padding: 5px 0;
  }

  .wrapperColumn {
    margin: 5px;
  }

  .column {
    padding: 10px;
    width: 310px;
    min-height: 350px;
  }

  .itemColumn {
    background-color: $boardItemBg;
    padding: 18px;
    margin-bottom: 8px;
    min-height: 50px;
    color: $boardColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .deleteBtn {
    color: $btnDeleteTaskColor;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}
