@import '../../colors.scss';

.board {
  max-width: 1024px;
  margin: 20px auto;
  background-color: $boardColor;
  border: 1px solid $boardColorBorder;
  border-radius: 0.25rem;
  padding: 20px 0;

  .titleToDo {
    text-align: center;
    font-size: 24px;
  }

  .iconAddToDo {
    color: #ff9d00e5;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .wrapperColumns {
    display: flex;
    justify-content: center;
  }

  .itemsColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nameColumn {
    font-size: 20px;
    padding: 0;
    text-align: center;
    margin-bottom: 5px;
  }

  .wrapperColumn {
    margin: 5px;
  }

  .column {
    padding: 10px;
    width: 310px;
    min-height: 550px;
  }

  .itemColumn {
    background-color: $boardItemBg;
    padding: 24px;
    margin-bottom: 8px;
    min-height: 50px;
    color: $boardColor;
  }
}
