$articleBg: #fff;
$linkArticleColor: #898989;
$colorGradientToArticle: #ffffff59;
$colorGradientBottomArticle: #ffffffd9;
$iconScrollColor: #222;
$iconScrollBg: #0078d3b4;
$iconScrollHover: #cc8b00;
$borderColorComments: #dadada;
$colorGradientToHeader: #33a8ff;
$colorGradientBottomHeader: #fff;
$colorContentComment: #404040d5;
$headerColor: #1c1c1c;
$colorBorderLogo: #fff;
$iconUserBg: #f4f4f5;
$iconUserColor: #33a8ff;
$timeCommentColor: #959393bc;
$subredditColor: #1c1c1c;
$iconSaveBg: #0079d3;
$sideBarBgHeader: #0076d1;
$sideBarColorTitle: #fff;
$sideBarColorBorder: #80808086;
$likesColorBg: #f4f4f5;
$likesIconColor: #808080;
$likesIconUpHover: #6084e6;
$likesIconDownHover: #e6855e;
$likesIncrease: #1c51e2;
$likesDecrease: #e75e28;
$likesInCommentBg: #fff;
$navPanelBorder: #33a8ff;
$navPanelBg: #fff;
$postPageBg: #fff;
$savedArticlesPageBg: #dae0e6;
$savedArticlesPageMessage: #33a8ff;
$savedArticlesColorMessage: #fff;
$countSaveItemsColor: #fff;
$sortColorBorder: #80808063;
$colorTitle: #222;
$colorContent: #414141d0;
$bgColorMain: #fff;
$colorSidebar: #414141d0;
$bdSidebar: #fff;
$colorLink: #cc8b00;
$borderColor: #ccc;
$iconUserFormColor: #000000;
$iconUserFormBg: #ff9d00e5;
$colorBtnHover: #33a8ff;
$colorBtnUnHover: #ff9d00e5;
$colorIconSavedUser: #414141d0;
$colorError: #ff0000e7;
$bgError: #ffffff;
$bgItemCity: #a1cff57a;
$colorItemCity: #808080e8;
$bgItemCityHover: #51a9f17a;
$colorItemCityHover: #363636e8;
$iconUpdateProfile: #33a8ff;
$tableBorderColor: #edeff1;
$tableBgOdd: #ffffff;
$tableBgEven: #edeff1cc;
$communityBtnColor: #fff;
$communityBtnBg: #cc8b00;
$communityBtnBgHover: #cc8b00e7;
$communityOptionsColor: #222;
$communityOptionsBg: #dae0e6;
$filterBg: #d3d6da;
$filterColor: #222;
$filterActiveBg: #0076d191;
$moderatorsColor: #cc8b00;
$moderatorsBg: #fff;
$moderatorsBtnHoverBg: #e4e0d971;
$moderatorsTextColor: #1a1a1b;
$moderatorsTextBg: #edeff1;
$boardColor: #fff;
$boardColorBorder: #00000020;
$boardItemBg: #3a3a3ac4;
$columnNameBg: #67bdff55;
$btnAddTaskColor: #ff9d00e5;
$btnDeleteTaskColor: #ff9d00e5;
$productColor: #1a1a1a;
$codeProductColor: #a0a1a3;
$borderDeliveryColor: #ebedf0;
$productBgColor: #fff;
$servicesBgColor: #f7f8fa;
$borderServiceColor: #ebedf0;
$checkboxBorderColor: #b4b5b8;
$checkboxHoverColor: #006ebd;
$checkboxBg: #0077cc;
$checkMarkColor: #fff;
$descriptionServiceColor: #a0a1a3;
$moreInfoServicesColor: #0077cc;
$borderColorProduct: #e6e7eb;
$menuServicesColor: #1a1a1a;
$tabsColor: #909399;
$tabsBorderColor: #e6e7eb;
$menuServicesBg: #1a1a1a80;
$menuScrollbarThumb: #e6e7eb;
$menuServicesWrapperBg: #fff;
$itemMenuBorderColor: #e6e7eb;
$itemAddedBorderColor: #099951;
$popoverBgColor: #1a1a1a;
$popoverColor: #fff;
$colorStar: #e52e6b;
$btnDeleteBorderColor: #e6e7eb;
$btnDeleteBgHover: #e62e6b;
$colorBasket: #a0a1a3;
$colorBasketHover: #fff;
$btnDeleteBg: #fff;
$btnAddBg: #0077cc;
$btnAddColor: #fff;
