@import './colors.scss';

$border: 1px solid $borderColor;
$font: 'Nanum Myeongjo', serif;
$fontSidebar: 'Roboto', sans-serif;
$fontContent: 'Noto Sans', sans-serif;
$fontContentPost: 'Lato', sans-serif;
$fontContentComment: 'Lato', sans-serif;
$widthContentArticle: 543px;
$widthContentSaveArticle: 850px;
$fontProduct: 'Arial';
$fontMenuServices: 'Arial';
$widthPopover: 346px;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: calc(100vh - 48px);
  line-height: 1;
  color: $colorContent;
}

.linkPost {
  color: $colorLink;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 1em;
  display: inline-block;
  text-overflow: ellipsis;
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 460px) {
  .linkPost {
    font-size: 11px;
  }
}

.noneScroll {
  overflow: hidden;
}
