.countSaveItems {
  position: absolute;
  display: block;
  font-size: 11px;
  padding: 2px;
  color: white;
  font-weight: 700;
  top: 3px;
  margin-left: 18px;
  background: #0079d3;
  border-radius: 30%;
  line-height: 12px;
}

.iconSaveItems {
  position: relative;
}
