@import "../../index.scss";

.article {
  display: grid;
  border: $border;
  grid-template-columns: 1fr 10fr 1fr;
  background: #fff;
  margin-bottom: 10px;
  word-wrap: break-word;

  .iconLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 1em;
    color: #898989;
  }

  @media (max-width: 640px) {
    .iconLink {
      width: 15px;
      height: 15px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 960px) {
  .article {
    grid-template-columns: 1fr 13fr 1fr;
  }
}

.saveArticle {
  grid-template-columns: 1fr 13fr 1fr;
}
