.menu {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(26, 26, 26, 0.5);
  position: fixed;
  display: flex;
  z-index: 100;

  .wrapperContent {
    background-color: white;
    width: 480px;
    padding: 16px 16px 8px;
    margin-left: auto;
  }

  .contentMenu {
    padding: 0 24px;
  }

  .closeMenu {
    width: 24px;
    height: 24px;
    margin-left: auto;
    cursor: pointer;
  }

  .closeMenu::after {
    content: url(../../../public/images/close.png);
  }

  .caption {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-top: 9px;
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    color: #1a1a1a;
  }

  .tabGroup {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 3px 20px 15px 0;
    width: 400px;
    margin-top: 21px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #909399;
    border-bottom: 1px solid #e6e7eb;
  }

  .tab {
    cursor: pointer;
  }

  .active {
    color: #1a1a1a;
    border-bottom: 3px solid #1a1a1a;
    padding: 0 0 33px;
  }
}
