@import "../../colors.scss";

.savedArticlesPage {
  background-color: $savedArticlesPageBg;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 24px;

  .wrapper {
    max-width: 1024px;
    display: grid;
    margin: 0 auto;
    gap: 10px;
  }

  .message {
    width: 100%;
    font-size: 36px;
    margin: 40px auto;
    padding: 40px 0;
    background-color: $savedArticlesPageMessage;
    color: $savedArticlesColorMessage;
    font-weight: 700;
    text-align: center;
  }

  .animation-enter {
    opacity: 0;
    transform-origin: center;
    transform: translateY(-20%) scale(0.9, 0.9);
  }

  .animation-enter-active {
    opacity: 1;
    transform-origin: center;
    transform: translateY(0%) scale(1, 1);
    transition: all ease 1s;
  }

  .animation-exit {
    opacity: 1;
    transform-origin: center;
    transform: translateY(0%) scale(1, 1);
  }

  .animation-exit-active {
    opacity: 0;
    transform-origin: center;
    transform: translateY(-20%) scale(0.9, 0.9);
    transition: all ease 1s;
  }
}
