@import '../../colors.scss';
@import '../../index.scss';

.tabGroup {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  height: 40px;
  padding: 3px 20px 15px 0;
  min-width: 400px;
  margin-top: 21px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $tabsColor;
  border-bottom: 1px solid $tabsBorderColor;
  cursor: url(../../../public/images/cursor.png), auto;
  user-select: none;

  .tab {
    white-space: nowrap;
    margin-right: 16px;
  }

  .activeTab {
    color: $menuServicesColor;
    border-bottom: 3px solid $menuServicesColor;
    padding-bottom: 33px;
  }
}

.tabGroup::-webkit-scrollbar {
  width: 0;
  height: 0;
}
