@import '../../colors.scss';
@import '../../index.scss';

.tabGroup {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  height: 35px;
  padding-right: 20px;
  min-width: 400px;
  margin-top: 23px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: $tabsColor;
  border-bottom: 1px solid $tabsBorderColor;
  cursor: url(../../../public/images/cursor.png), auto;
  user-select: none;

  .tab {
    white-space: nowrap;
    margin-right: 16px;
    display: flex;
  }

  .activeTab {
    color: $menuServicesColor;
    border-bottom: 3px solid $menuServicesColor;
  }

  .countServices {
    font-size: 12px;
    line-height: 14px;
    margin: 0 2px;
  }
}

.tabGroup::-webkit-scrollbar {
  width: 0;
  height: 0;
}
