.parent {
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;

    .error {
      display: block;
      width: 100%;
      height: auto;
    }


}

