@import '../../colors.scss';
@import '../../index.scss';

.itemServices {
  border: 1px solid $itemMenuBorderColor;
  border-radius: 8px;
  padding: 20px;
  margin: 23px 0;
  font-family: $fontMenuServices;
  font-style: normal;
  color: $menuServicesColor;

  .nameService {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  .descriptionItem {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .moreInfo {
    cursor: url(../../../public/images/cursor.png), auto;
    display: flex;
    align-items: center;
    width: 92px;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    color: $moreInfoServicesColor;
  }

  .moreInfo::before {
    content: url(../../../public/images/link.png);
    width: 16px;
    height: 16px;
  }

  .priceService {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: right;
    margin-top: 16px;
  }
}
