@import "../../colors.scss";

.wrapperComments {
  margin: 0 10px;

  .allComments {
    position: relative;
  }

  .allComments::before {
    content: "";
    position: absolute;
    border-left: 1px solid $borderColorComments;
    height: 100%;
    margin-left: 20px;
  }
}
