@import '../../colors.scss';
@import '../../index.scss';

.wrapperItem {
  padding-bottom: 8px;
  border-bottom: 1px solid $borderServiceColor;
  margin: 5px 0 12px;
  font-family: $fontProduct;

  .itemService {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 22px;
  }

  .checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: url(../../../public/images/cursor.png), auto;
  }

  .checkMark {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid $checkboxBorderColor;
  }

  .serviceLabel:hover input ~ .checkMark {
    border: 1px solid $checkboxHoverColor;
  }

  .serviceLabel:hover {
    color: $checkboxHoverColor;
  }

  .serviceLabel input:checked ~ .checkMark {
    background-color: $checkboxBg;
    border: 1px solid $checkboxHoverColor;
  }

  .checkMark:after {
    content: '';
    position: absolute;
    display: none;
  }

  .serviceLabel input:checked ~ .checkMark:after {
    display: block;
  }

  .serviceLabel .checkMark:after {
    left: calc(50% - 5px / 2 + 0.25px);
    top: calc(50% - 7.5px / 1.8);
    width: 5px;
    height: 7.5px;
    border: 1.8px solid $checkMarkColor;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .serviceLabel {
    position: relative;
    padding-left: 24px;
    display: flex;
    align-items: center;
    width: 506px;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: url(../../../public/images/cursor.png), auto;
    user-select: none;
  }

  .priceService {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
  }

  .serviceKopecks {
    font-size: 14px;
    font-weight: 700;
  }

  .descriptionService {
    margin-left: 25px;
    width: 460px;
    font-size: 12px;
    line-height: 17px;
    color: $descriptionServiceColor;
    margin-bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .moreInfo {
    cursor: url(../../../public/images/cursor.png), auto;
    margin-left: 25px;
    display: flex;
    align-items: center;
    width: 83px;
    justify-content: space-between;
    font-size: 12px;
    line-height: 20px;
    color: $moreInfoServicesColor;
  }

  .moreInfo::before {
    content: url(../../../public/images/link.png);
    width: 16px;
    height: 16px;
  }
}
