@import '../../colors.scss';

.main {
  background-color: $bgColorMain;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 24px 20px;

  .wrapper {
    max-width: 1024px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 2.5fr 1fr;
    gap: 10px;
  }

  @media (max-width: 960px) {
    .wrapper {
      grid-template-columns: 100%;
      gap: 0;
    }
  }
}

@media (max-width: 460px) {
  .main {
    padding: 10px 12px;
  }
}
