@import '../../colors.scss';

.footer {
  .listLink {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    width: 100%;
  }

  .link {
    margin-right: 20px;
    color: $linkArticleColor;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .icon,
  .countComments {
    cursor: pointer;
    padding-right: 3px;
  }

  .save {
    opacity: 0.5;
  }

  @media (max-width: 640px) {
    .listLink {
      margin-top: 0;
    }

    .link {
      font-size: 12px;
    }
  }
}
