@import '../../colors.scss';

.iconScrollUp {
  width: 35px;
  height: 35px;
  padding: 7px;
  border: 3px solid $iconScrollColor;
  color: $iconScrollColor;
  position: fixed;
  bottom: 5%;
  right: 24px;
  border-radius: 10px;
  background: $iconScrollBg;
  z-index: 10;
  cursor: pointer;
}

.iconScrollUp:hover {
  background-color: $iconScrollHover;
}

@media (max-width: 960px) {
  .iconScrollUp {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 720px) {
  .iconScrollUp {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 580px) {
  .iconScrollUp {
    width: 20px;
    height: 20px;
  }
}
