@import '../../colors.scss';

.headerComment {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-top: 16px;
  font-size: 13px;
  margin-left: -16px;

  .iconUser {
    padding: 5px;
    border-radius: 50%;
    background-color: $iconUserBg;
    color: $iconUserColor;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    z-index: 10;
  }

  .sendComment {
    margin-left: 5px;
    color: $timeCommentColor;
  }
}
