@import '../../index.scss';
@import '../../colors.scss';

.itemSidebar {
  border-radius: 4px;
  overflow: visible;
  word-wrap: break-word;
  color: $colorSidebar;
  border: $border;
  font-family: $fontSidebar;
  background: white;
  margin-bottom: 10px;
  padding-bottom: 10px;

  .title {
    background: $sideBarBgHeader;
    font-size: 17px;
    line-height: 45px;
    font-weight: 700;
    color: $sideBarColorTitle;
    height: 45px;
    padding: 0 12px;
  }

  .itemList {
    font-weight: 600;
    border-bottom: 1px solid $sideBarColorBorder;
  }

  .itemName {
    color: $colorSidebar;
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;
  }

  .description {
    color: $colorContent;
    font-weight: 500;
  }

  .contentSidebar {
    width: 80%;
    padding: 12px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    word-wrap: break-word;
  }

  @media (max-width: 460px) {
    .title {
      font-size: 14px;
    }

    .contentSidebar {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
