
  $colorTitle: #222222;
  $colorContent: #878a8c;
  $bgColor: #DAE0E6;
  $colorSidebar: #1a1a1b;
  $border: 1px solid #ccc;
  $font:  'Nanum Myeongjo', serif;
  $colorLink: #cc8b00;


body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: calc(100vh - 48px);
  line-height: 1;
}