@import '../../colors.scss';

.form {
  .wrapperLabel {
    width: 100%;
    position: relative;
  }

  .label {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .input {
    width: 65%;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
  }

  .buttonSubmit {
    margin-left: 10px;
  }

  .error {
    position: absolute;
    color: $colorError;
    font-size: 12px;
    top: 32px;
    z-index: 10;
    background-color: $bgError;
  }
}
